.img_app{
    height: 300px;
    width: 450px;
    border-radius: 50px;
}

.back_img_continer{
    min-height: 250px;
    /* max-height: 350px; */
    background-image: url("/asset/WhatsApp Image 2024-06-04 at 11.37.31_4599fcc1.jpg");
    background-repeat: no-repeat;
     background-size: cover;
}
.profile_img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    text-align: center;
}