.bannerimg {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px var(--shadow);
  transition: transform 0.3s ease;
}

.bannerimg:hover {
  transform: scale(1.02);
}

.sideimg {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow);
  transition: transform 0.3s ease;
}

.sideimg:hover {
  transform: scale(1.05);
}

